
.marquee {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 121s linear infinite;
  -webkit-animation: marquee 121s linear infinite;
}

.xxlarge {
  font-size: 75px;
}

.down {
  color: red;
}

.up {
  color: green;
}
