.marquee
{
  width: 100%;
  padding-top: 25px;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 50s linear infinite;
  -webkit-animation: marquee 50s linear infinite;
}

.clearfix {
  overflow: auto;
}

.img {
  vertical-align: bottom;
}

.down 
{
  color: red;
}

.up 
{
  color: green;
}
